.table-clasificacion {
    padding: 1px!important;
    font-size: 12px;

}

.tableresult{
    width: auto;
}

.fulltable{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
